:root {
  --lighter-accent-color: hsl(
    from var(--accent-color) calc(h - 20) s calc(l + 2 * (100 / 8))
  );
  --light-accent-color: hsl(
    from var(--accent-color) calc(h - 10) s calc(l + 1 * (100 / 8))
  );
  --accent-color: hsl(210, 100%, 50%);
}
h1,
h2,
h3 {
  font-family: "Silkscreen", sans-serif;
}
body {
  min-height: 100vh;
  background: hsl(from var(--accent-color) h 100% 95%);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "main" "footer";
}
body * {
  transition: all 300ms;
}
main {
  grid-area: main;
  display: grid;
  place-items: center;
}
footer {
  grid-area: footer;
  min-height: 5vh;
}
.text-unselectable {
  user-select: none;
  -webkit-user-select: none;
}

